@import "variables";

.button {
    outline: none;
    padding: 23px 70px 21px 70px;
    text-align: center;
    font-family: inherit;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: inherit;
    transition: all 200ms;
    border: {
        width: 2px;
        style: solid;
        radius: 40px;
    }

    
    &:hover {
        background-color: gray;
    }

    &:active,
    &:focus {
        background-color: $colorAnimation;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

    &_primary{
        color: $colorWhite;
        border-color: $colorWhite;
    }

    &_secondary{

        background-color: $colorWhite;
        color: inherit;
        border-color: $colorSecondary;

        &:hover {
            background-color: $colorSecondary;
            color: $colorWhite;
            border-color: $colorSecondary;
        }
    }

    &_alternative{
        border: 2px solid $colorSecondary;
        color: $colorSecondary;
        border-color: $colorSecondary
    }

    &_img {
        padding-right: 41px;
        text-align: right;
        background: {
            image: $buttonImage;
            repeat: no-repeat;
            position: 36px center;
        }
    }

    &_active {
        background-color: $colorSecondary;
        color: $colorWhite;
        border-color: $colorSecondary;   

        &:hover {
            background-color: $colorHover;
            border-color: $colorHover;
        }     
    }
}


