@import "variables";

.input {
	position: relative;
    width: 100%;
	max-width: 263px;
	height: 60px;
	padding: 15px 20px 15px 70px;

	font-family: inherit;
	font-size: 16px;
	color: $textColor;
	line-height: 32px;
	font-weight: normal;
	vertical-align: middle;

	background-color: $colorWhite;
	background: {
		position: 17px center;
		repeat: no-repeat;
	}

	border: 2px solid $borderColor;
	border-radius: 5px;

	transition: border-color 250ms;

	&_text {
		background-image: $textImage;
	}

	&_email {
		background-image: $emailImage;
	}

	&_password {
		background-image: $passwordImage;
	}

	&:focus {
		border-color: $focusColor;

		box-shadow: 2px 2px 10px rgba(135, 121, 189, 0.4),
					-2px -2px 10px rgba(135, 121, 189, 0.4);
		outline: none;
	}
}
