@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    &:before, &:after{
    	box-sizing: border-box;
    } 
}

html {
    line-height: 2;
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
	font-family: Roboto, 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: sans-serif;
	background-color: #F2F2F2;
	color: #424753;
	text-align: left;  
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
}
