@import "variables";

.tabs {
    display: block;
    position: relative;
    font-family: inherit;
    min-height: 500px;

    &__content {
        display: block;
        text-align: center;
    }

    &__text {
        font-size: 28px;
        line-height: 41px;
        text-align: center;
        color:$colorWhite;
        margin: {
            top: 6.7px;
            bottom:11.3px;
        }

        &_name {
            position: relative;
            font-size: 16px;
            line-height: 19px;

            &::after {
               content: '';
               position: absolute;
               display: block;
               width: 42px;
               height: 3px;
               background-color: $colorWhite;
               left: 50%;
               transform: translateX(-50%);
               bottom: -10px;

               margin: {

               }
            }
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        position: absolute;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);


    }

    &__element {

    }

    &__input {
        display: none;
    }

    &__label {
        opacity: .5;
    }

    &__input:checked + &__label {
        opacity: 1;
    }

    &__input:checked + &__label &__img {
        transform: scale(1.2);
    }


    &__img {
        border-radius: 50%;
        width: 50px;
        height: 50px;

        margin: {
            left: 7px;
            left: 7px;
        }

        transition: all 150ms;

        &_content {
            width: 100px;
            height: 100px;
            margin-top: 90px;
        }
    }
}
